.rbit-plugin { padding: 1em; }
.rbit-plugin .logo-links { margin-bottom: 2.5em; }
.rbit-plugin .logo-links a img { border: 1px solid transparent; }
.rbit-plugin .logo-links a:hover img { border: 1px solid #DEDEDE; }
.rbit-plugin fieldset { margin-bottom: 1em; }
.rbit-plugin .form-field label { width: 8em; display: inline-block; text-align: right; margin-right: 1em; vertical-align: top; }
.rbit-plugin #queue-check-label { width: auto; }
.rbit-plugin span.appended-label { margin: 0 1em; }
.rbit-plugin .form-field { margin: 5px 0; }
.rbit-plugin .form-field > * { vertical-align: middle; }
.rbit-plugin input.on-off { margin: 0 1em; }
.rbit-plugin input[type="number"] { width: 5em; }
.rbit-plugin .hint { font-style: italic; color: #555555; }
.rbit-plugin label.radio-label { width: auto; padding-left: 0.5em; }
.rbit-plugin span.radio-option { display: inline-block; padding: 0 1.5em 0 0.5em; }
.rbit-plugin span.date-postponed { font-weight: bold; }
.rbit-plugin .details { margin-top: 2.5em; }
.rbit.plugin textarea[readonly],
.rbit.plugin .form-field input[readonly] { color: #555555; background-color: #AAAAAA; }
